body {
    text-align: center;
    justify-content: center;
    height: 100%;
	background: var(--primary-color);
	color: #a5a5a5;
}

h1 img {
    width: 100px;
    height: auto;
}

button {
    margin: var(--section-spacing);
    background: var(--primary-color);
	width: 80%;
}

.email-label, .password-label {
    font-weight:bold;
    margin-bottom: 20px;
}

input {
	padding: 10px 0px 10px 5px;
	width: 80%;
}

.inner-body {
	border: 1px solid var(--primary-color);
	border-radius: 0px 0px 15px 15px;
    margin-top: 10px;
	width: 95%;
	height: 96%;
	align-self: center;
	background: white;
}

.wrap {
    background-color: white;
	border-radius: 0px 0px 15px 15px;
    margin-top: 20px;
}

.lower-inner-body {
	border-top: 1px solid var(--primary-color);
	height: 100%;
	margin-top: 10%;
}

.alt-login {
	padding-top: 20px;
	padding-bottom: 10px;
}

.external-buttons {
	letter-spacing: 20px;
}

.title {
    margin-top: 10px;
}

#errors {
    width:100%;
    height: 4%;
    font-weight:bold;
    color: red;
    margin-top: -10px;
}