.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    /* Position fixed is needed to stay in view while scrolling
       but this requires 'left: 100%' to position correct */
    left: 100%;
    width: 100%;
    background: rgba(136, 136, 136, .25);
    z-index: 100;
    opacity: 0;
    transition: opacity .2s ease-in-out, visibility 0s linear .2s;
    visibility: hidden;
    pointer-events: none;
    overflow: auto;
}

.modal.visible {
    visibility: visible;
    opacity: 1;
    transition-delay: 0s, 0s;
    pointer-events: auto;
}

.modal > div {
    margin: 25px;
    padding: 0 25px 25px 25px;
    border: 1px solid var(--primary-color);
    border-radius: 0 0 20px 20px;
    background: #ffffff;
}

.modal h1 {
    text-align: center;
}

.modal p {
    margin: 0;
}

.modal .info {
    border: 1px solid;
    min-height: 40px;
    padding: 5px;
}

.modal .cost,
.modal select {
    color: var(--highlight-text-color);
    height: 40px;
    width: 100%;
    text-align: center;
    line-height: 40px;
}

.modal footer {
    margin-top: 25px;
    display: flex;
}

.modal button,
.modal .unavailable {
    text-align: center;
    background: none;
    border: none;
    height: 40px;
    line-height: 40px;
    color: var(--highlight-text-color);
    flex: 1;
}

.modal .cancel {
     background-color: #999999;
     margin-right: 10px;
 }

.modal .buy {
    background-color: #00CC99;
    float: right;
    margin-left: 10px;
}

.modal .unavailable {
    color: var(--text-color);
}

.modal .docs .info {
    border-color: var(--tag-documentation);
}

.modal .docs .cost {
    background-color: var(--tag-documentation);
}

.modal .interaction .info {
    border-color: var(--tag-interaction);
}

.modal .interaction .cost {
    background-color: var(--tag-interaction);
}

.modal .production .info {
    border-color: var(--tag-production);
}

.modal .production .cost {
    background-color: var(--tag-production);
}

.modal .design .info {
    border-color: var(--tag-design);
}

.modal .design .cost {
    background-color: var(--tag-design);
}

.modal .research .info {
    border-color: var(--tag-research);
}

.modal .research .cost {
    background-color: var(--tag-research);
}

.modal .documentation .info {
    border-color: var(--tag-documentation);
}

.modal .documentation .cost {
    background-color: var(--tag-documentation);
}

.modal .achievement .info {
    border-color: var(--tag-achievement);
}

.modal .achievement .cost,
.modal .achievement select {
    background-color: var(--tag-achievement);
}