/**
  * Profile section
  * namespace: .profile
  */

.profile {
    padding: 0 var(--section-spacing) var(--section-spacing) var(--section-spacing);
}

.profile progress {
    -webkit-appearance: none;
    height: 22px;
    border: 1px solid var(--card-border-color);
    width: 100%;
}

.profile progress::-webkit-progress-bar {
    background: #fff;
}

.profile .experience,
.profile .progress {
    flex: 1;
    position: relative;
}

.profile .skill,
.profile .power {
    height: 22px;
    line-height: 22px;
    display: flex;
    margin-bottom: 8px;
}

.profile .experience progress::-webkit-progress-value,
.profile .skill progress::-webkit-progress-value {
    background-color: #cc0f59;
}

.profile .experience span,
.profile .progress span {
    display: block;
    position: absolute;
    color: var(--highlight-text-color);
    text-align: center;
    width: 100%;
    line-height: 22px;
    text-shadow: rgb(3, 3, 3) 1px 1px 1px;
    top: 0;
}

.profile .skill .progress span {
    padding-left: 10px;
    text-align: left;
}

.profile .skill > span,
.profile .power > i {
    width: 40px;
    margin-right: 10px;
    line-height: 22px;
}

.profile .skill > span {
    text-align: right;
}

.profile .power > i {
    text-align: center;
    font-size: var(--font-large);
}

.profile .research i {
    color: var(--tag-research);
}

.profile .research progress::-webkit-progress-value {
    background-color: var(--tag-research);
}

.profile .design i {
    color: var(--tag-design);
}

.profile .design progress::-webkit-progress-value {
    background-color: var(--tag-design);
}

.profile .interaction i {
    color: var(--tag-interaction);
}

.profile .interaction progress::-webkit-progress-value {
    background-color: var(--tag-interaction);
}

.profile .production i {
    color: var(--tag-production);
}

.profile .production progress::-webkit-progress-value {
    background-color: var(--tag-production);
}

.profile .documentation i {
    color: var(--tag-documentation);
}

.profile .documentation progress::-webkit-progress-value {
    background-color: var(--tag-documentation);
}

.profile .extra {
    margin-top: var(--section-spacing);
    border-top: 1px dashed var(--primary-color);
}

.profile .extra p,
.profile .extra a {
    font-size: var(--font-small);
    color: #999999;
}

.profile .extra button {
    background-color: #999999;
    width: 100%;
}