:root {
    --primary-color: #00cc99;
    --text-color: #33333;
    --alternate-text-color: #ffffff;
    --highlight-text-color: #ffffff;
    --background-color: #666666;
    --section-spacing: 25px;

    --card-border-color: #cccccc;
    --card-to-do: #f2f2f2;
    --card-doing: #e9f0ff;
    --card-verify: #f0dbff;
    --card-done: dbfff6;

    --tag-documentation: #6699ff;
    --tag-interaction: #999999;
    --tag-production: #9900ff;
    --tag-design: #ff9900;
    --tag-research: #00cc99;
    --tag-achievement: #666666;

    --font-large: 20px;
    --font-normal: 16px;
    --font-small: 12px;
}