<?xml version="1.0" encoding="utf-8"?>
<widget defaultlocale="en-US" id="space.scrummers.app" version="1.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0" xmlns:vs="http://schemas.microsoft.com/appx/2014/htmlapps">
  <name>Scrummer Companion</name>
  <description>
  </description>
  <content src="login.html" />
  <access origin="*" />
  <vs:features />
  <preference name="SplashScreen" value="screen" />
  <preference name="windows-target-version" value="8.1" />
  <plugin name="cordova-plugin-whitelist" version="1" />
  <allow-intent href="http://*/*" />
  <allow-intent href="https://*/*" />
  <platform name="android">
    <allow-intent href="market:*" />
  </platform>
  <platform name="ios">
    <allow-intent href="itms:*" />
    <allow-intent href="itms-apps:*" />
  </platform>
  <platform name="android">
    <icon density="xhdpi" src="res/icons/android/icon-xhdpi.png" />
    <icon density="xxhdpi" src="res/icons/android/icon-xxhdpi.png" />
    <icon density="xxxhdpi" src="res/icons/android/icon-xxxhdpi.png" />
  </platform>
  <platform name="android">
    <splash density="land-hdpi" src="res/screens/android/screen-hdpi-landscape.png" />
    <splash density="land-ldpi" src="res/screens/android/screen-ldpi-landscape.png" />
    <splash density="land-mdpi" src="res/screens/android/screen-mdpi-landscape.png" />
    <splash density="land-xhdpi" src="res/screens/android/screen-xhdpi-landscape.png" />
    <splash density="port-hdpi" src="res/screens/android/screen-hdpi-portrait.png" />
    <splash density="port-ldpi" src="res/screens/android/screen-ldpi-portrait.png" />
    <splash density="port-mdpi" src="res/screens/android/screen-mdpi-portrait.png" />
    <splash density="port-xhdpi" src="res/screens/android/screen-xhdpi-portrait.png" />
  </platform>
  <preference name="Fullscreen" value="False" />
  <preference name="android-minSdkVersion" value="14" />
  <plugin name="cordova-plugin-inappbrowser" version="1.4.0" />
  <preference name="xwalkVersion" value="18+" />
  <preference name="xwalkCommandLine" value="--disable-pull-to-refresh-effect" />
  <preference name="xwalkMode" value="embedded" />
  <preference name="xwalkMultipleApk" value="true" />
  <plugin name="cordova-plugin-crosswalk-webview" version="1.7.2" />
  <plugin name="cordova-plugin-crosswalk-webview" version="1.7.2" />
</widget>